@import '../../../style/palette.scss';

.courseDetailModal {
  .top {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .courseImg {
      margin: 2em 0;
      max-width: 70%;
      min-height: 200px;
      object-fit: cover;
      border-radius: 6px;
    }

    .price {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0.5em;
    }

    .enable {
      display: flex;
      align-items: center;
      gap: 6px;
      color: $green;
      font-weight: bold;
      border: 1px solid $green;
      border-radius: 6px;
      padding: 6px;
    }

    .info{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5em;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3em 10em;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;
  }
}
