$primary_color: #d9d9ff;
$secondary_color: #ffe9e8;

$black: #282834;
$softBlack: #2f2d3a;
$red: #f66962;
$darkRed: #d55b55;
$orange: #f78c20;
$green: #48af77;
$gray: #a8a8a8;
$ligthGray: #e2e2e29e;
$darkGreen: #358157;
$lightPurple: #e4e4ff;
$darkPurple: #bcbcff;
$lightPeach: #fff5f5;
$darkPeach: #ffdedc;

.container {
  max-width: 100%;
  padding: 0 0px;
  margin: 0 15.5%;
}
