$primary_color: #d9d9ff;
$secondary_color: #ffe9e8;

$black: #2f2d3a;
$red: #f66962;
$orange: #f78c20;
$lightPurple: #e4e4ff;
$darkPurple: #bcbcff;
$lightPeach: #fff5f5;
$darkPeach: #ffdedc;

.container {
  max-width: 100%;
  padding: 0 0px;
  margin: 0 15.5%;
}
